@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/menlo');

:root {
  --my-white: #fafafa;
  --my-black: #212121;
  --my-yellow: #fdfa72;
  --my-blue: dodgerblue;
  --my-green: #c5e90b;
  --my-dark-green: #378805;
}

html {
  background-color: var(--my-white);
  color: var(--my-black);
  font-family: 'Playfair Display', Helvetica, serif;
  max-width: 80vw;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(1.2em + 1.6vw);
}

h1.title, h1.title-purple {
  margin-left: 2vh;
  width: 90%;
  margin-top: 4vh;
}

h1.title {
  color: var(--my-blue);
}

h1.title-purple {
  color: purple;
}

#body {
  margin-left: 2vh;
  max-width: 92%;
}

p, ul, ol, span, label, input {
  font-size: .9em;
  font-family: "Menlo", Helvetica, sans-serif;
  color: #17191C;
}

input[type=submit] {
  background-color: var(--my-blue);
  color: #e8e6e3;
  height: 2.5em;
  cursor: pointer;
  border: none;
  outline: inherit;
  grid-column: 2;
}

p, ul, ol, span {
  margin-bottom: 2em;
}

input {
  display: block;
  padding: .2vw;
  width: 20ch;
  grid-column: 2;
}

li {
  margin-left: 4vw;  
}

*:focus {
    outline: none;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
}

#toc {
  margin-left: 2vh;
}

.toc-row {
  padding-top: 1vw;
}

div#toc p, div#toc a, .toc-description {
  margin-bottom: 0;
  font-family: "Menlo", Helvetica, sans-serif;
  font-size: calc(.7em + .5vw);
  color: #17191C;
}

p.date {
  font-size: calc(.5em + .2vw);
  margin-left: 2vh;
  width: 90%;
}


span.toc-date {
  font-size: calc(.6em + .35vw) !important;
  color: gray;
}

div#toc a:hover {
  color: var(--my-blue);
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--my-white);
    background-color: var(--my-black);
  }
  #body a {
    color: var(--my-yellow);
  }
  #body a:visited {
    color: var(--my-green);
  }
  
  p, ul, ol, span, label {
    color: #e8e6e3;
  }
  h1.title, h1.title-purple {
    color: var(--my-yellow);
  }

  div#toc p, div#toc a, .toc-description{
    color: #e8e6e3;
  }
  .logo {
    color: white;
  }
}

.extra-space {
  margin-top: 5vh;
}

nav {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 3fr;
}

#logo {
  font-size: calc(1.5em + 2.2vw);
  text-align: left;
  color: black;
}

.nav a:hover {
  text-decoration: underline var(--my-blue);
  color: inherit;
}

nav a.active {
  text-decoration: underline var(--my-blue);
}

.purple {
  color: purple;
}

h1.purple {
  margin-left: 2vh;
}

#body a:hover {
  text-decoration: underline dotted magenta;   
  color: var(--my-blue);
}

nav div:not(:first-child) {
  cursor: pointer;
  padding: .1rem .3rem;
  font-size: calc(.9em + 1vw);
  display: flex;
  align-items: center;
  margin-left: 1.7vw;
  padding-right: 4vw;
  justify-content: center;
}

nav div a {
  text-decoration: none;
  color: inherit;
  font-family: 'Playfair Display', Helvetica, serif;
}

@media only screen and (max-width: 1000px) {
  #logo, h1.title {
    grid-column: 1 / -1;
    text-align: center;
  }

  h1.title {
    width: 95%;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  html {
    max-width: 100vw;
  }
}


@media only screen and (max-width: 750px) {
  h1.title {
    width: 94%;
  }
}
@media only screen and (max-width: 700px) {
  h1.title {
    width: 93%;
  }
}
@media only screen and (max-width: 650px) {
  h1.title {
    width: 92%;
  }
}
@media only screen and (max-width: 600px) {
  h1.title {
    width: 91%;
  }
}
@media only screen and (max-width: 550px) {
  h1.title {
    width: 90%;
  }
}
