@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Playfair+Display:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/menlo');

html {
  background-color: white;
  color: black;
  font-family: 'Playfair Display', Helvetica, serif;
  max-width: 80vw;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(.6em + 1.8vw);
}

h1.title {
  margin-top: 2vh;
  color: brown;
}

#body {
  margin-left: 2vh;
}

p, ul, ol, span {
  margin-bottom: 2em;
  font-size: calc(1em + .25vw);
  font-family: "Menlo", Helvetica, sans-serif;
  color: #17191C;
}

div#toc p, div#toc a {
  margin-bottom: 0;
  font-family: "Menlo", Helvetica, sans-serif;
  font-size: calc(1em + .25vw);
  color: #17191C;
}

div#toc a:hover {
  color: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: black;
  }
  p, ul, ol, span {
    color: #e8e6e3;
  }
  h1.title {
    color: yellow
  }
  div#toc p, div#toc a {
    color: #e8e6e3;
  }
}

p.date {
  font-size: calc(.7em + .2vw);
}

nav {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 3fr;
}

#logo {
  font-size: calc(1.25em + 2.2vw);
  text-align: left;
  text-decoration: underline magenta;   
  color: dodgerblue;
}

#logo a:visited {
  text-decoration: underline magenta;   
  color: dodgerblue;
}

#logo a:hover {
  color: #51a9ff;
}

nav a:hover {
  filter: brightness(.8);
  color: inherit;
}

.body a:hover {
  text-decoration: underline dotted magenta;   
  color: dodgerblue;
}

nav div:not(:first-child) {
  cursor: pointer;
  padding: .1rem .3rem;
  font-size: calc(.6em + 1.1vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div a {
  text-decoration: none;
  color: inherit;
  font-family: 'Playfair Display', Helvetica, serif;
}

@media only screen and (max-width: 600px) {
  #logo {
    grid-column: 1 / -1;
    text-align: center;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  html {
    max-width: 100vw;
  }
}
