<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale={{ INITIAL_SCALE }}">
  <meta name="robots" content "index, follow">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ BASE_URL }}/{{ url }}">
  <meta property="og:type" content="website">

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="static/prism-dark.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/style.css">
  <meta name="theme-color" content="{{ THEME_COLOR }}">
  <link rel="canonical" href="{{ BASE_URL }}/{{ url }}" />
</head>
