<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Table of Contents</title>
  <meta name="description" content="Table of contents for Zev Averbach's personal site">
  <meta name="viewport" content="width=device-width, initial-scale={{ INITIAL_SCALE }}">
  <meta name="robots" content "index, follow">

  <meta property="og:title" content="Table of contents for Zev Averbach's personal site.">
  <meta property="og:url" content="{{ BASE_URL }}/toc">
  <meta property="og:type" content="website">

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  <meta name="theme-color" content="{{ THEME_COLOR }}">
  <link rel="canonical" href="{{ BASE_URL }}/toc" />
</head>

<body>
  {% include 'nav_0.0.1.html' %}
  <div id="toc">
  {% for page in all_pages %}
    {% if page['url'] not in ('about', 'newsletter_signup') %}
    <div data-uid="{{ page['url'] }}" class="toc-row">
      <a class="toc-date" href='{{ BASE_URL }}/{{ page["url"] }}'>{{ page['title'] }}</a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ fathom_uid }}" defer></script>
</body>

</html>
