<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content "index, follow">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ BASE_URL }}/{{ url }}">
  <meta property="og:type" content="website">

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  <meta name="theme-color" content="{{ THEME_COLOR }}">
  <link rel="canonical" href="{{ BASE_URL }}/{{ url }}" />
  <script src="https://unpkg.com/@supabase/supabase-js"></script>
</head>

<body>
  {% include 'nav_0.0.1.html' %}
  <div id="body">
  <h1 class="title">{{ title }}</h1>
  <p class="date">{{ date }}</p>
    {{ body | safe }}
  </body>
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ fathom_uid }}" defer></script>
  <script>
    // TODO: listen for changes to this post and update it in real time
    const { createClient } = supabase
    const _supabase = createClient('https://{{ SUPABASE_URL_UID }}.supabase.co', '{{ SUPABASE_API_KEY }}')
    const realtimeListener = _supabase
      .from('{{ TABLE_NAME }}:url=eq.{{ url }}')
      .on('UPDATE', payload => {
        console.log('Change received!', payload)
        const { title, body } = payload.new
	const { url } = payload.old
	if (title != document.title) document.title = title
	const body_ = document.getElementById("body")
        if (body_ != body.innerHTML) body_.innerHTML = body
      }).subscribe()
  </script>
</body>

</html>
