<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Table of Contents</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content "index, follow">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ BASE_URL }}/toc">
  <meta property="og:type" content="website">

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  <meta name="theme-color" content="{{ THEME_COLOR }}">
  <link rel="canonical" href="{{ BASE_URL }}/toc" />
  <script src="https://unpkg.com/@supabase/supabase-js"></script>
</head>

<body>
  <div id="toc"
  {% for title, url in titles_and_urls %}
    <div data-uid="{{ url }}" class="toc-row">
      <a href='{{ BASE_URL }}/{{ url }}'>{{ title }}</a>
    </div>
  {% endfor %}
  </div>
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ fathom_uid }}" defer></script>
  <script>
    const toc = document.getElementById("toc")
    const { createClient } = supabase
    const _supabase = createClient('https://{{ SUPABASE_URL_UID }}.supabase.co', '{{ SUPABASE_API_KEY }}')
    const realtimeListener = _supabase
      .from('content')
      .on('INSERT', payload => {
	const { url, title } = payload.new
	const existingElement = document.querySelector(`div[data-uid="${url}"]`);
	if (existingElement) return
        const newDiv = document.createElement('div') 
        newDiv.dataset.uid = url
	const newAnchor = document.createElement('a')
	newAnchor.href = `{{ BASE_URL }}/${url}`
	newAnchor.innerText = title
        newDiv.appendChild(newAnchor)
	toc.appendChild(newDiv)
      })
      .on('UPDATE', payload => {
        console.log('Change received!', payload)
        const { title, url } = payload.new
	const existingElement = document.querySelector(`div[data-uid="${url}"]`);
	if (!existingElement) return
	const anchor = existingElement.children[0]
        if (title != anchor.innerText) {
	    anchor.innerText = title
        }
        if (url != anchor.href.split("/").slice(-1)) {
	    anchor.href = `{{ BASE_URL }}/${url}`
        }
      })
      .subscribe()
  </script>
</body>

</html>
